---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<img src="/images/research.png" alt="Research" style="width:500px;height:300px;">

<br>
<br>

{% include base_path %}

{% if site.research_category %}
  {% for category in site.research_category  %}
    {% assign title_shown = false %}
    {% for post in site.research reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
          <h2>{{ category[0].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.research reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

        






